$base-margin: 16px;
$max-map: 400px;



$form-left-right-margins : 50px;
$form-icon-margin: 2px;
$form-icon: $form-left-right-margins - $form-icon-margin;
$google-map-height: 80%;
$google-map-width: $google-map-height;

$max-map: 600px;


$top-bar-height: 48px;
