

@media (min-width:1025px) {
  h3, label, li, input	{

      font-family: "Helvetica Neue", Arial, Sans-Serif;
  	/*display: none;*/
  }

  div#top-form-panel-wrapper {
    display: block;
     text-align: center;
  }

  div#top-form-panel {
    margin-left: auto;
    border-radius: 12px;
    overflow:hidden;

    margin-right: auto;
    display: inline-block;
  }

  ul#form-nav  {
      padding: 0px;
      margin: 0px;
      list-style-type: none;


  }

  li.input-form.nav-item {
      margin: 0px;
      display: inline-block;
      padding: 10px;
      font-size: 24px;
      background-size: 10%;
      cursor: pointer;
  }

  li.unviewed-nav-item {

    color: #929292;
  }
  li.selected-nav-item {

    background-color: #b7dbff;
  }



  div#section-wrapper {
    padding: 24px;
    overflow: hidden;
  }
  div#form-section-wrapper {
    overflow: hidden;
    margin-right: 48px; /*TODO use SASS to automate this*/
    background-color: gray;
  }

  img.form-section-icons {
    height: 48px;
    width: 48px;
    /*display: inline-block;*/
    float: left;
    vertical-align: top;
    padding: 8px;
  }
  img.form-section-icons.left-clear {
    float: left;
  }
  img.form-section-icons.right-clear {
    overflow: hidden;
    float: right;
  }

  div#form-data-holder {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 50%;
  }

  /*Date picker*/
  #ui-datepicker-div  {
    background-color: white;
    font-family: "Helvetica Neue", Arial, Sans-Serif;
    text-decoration: none;
  }
  #ui-datepicker-div a {
    text-decoration: none;
  }

  /*form*/
  .datepicker {
    margin-bottom: 16px;
    font-size: 16px;
  }

  label.date-picker-label {

    font-size: 16px;
  }

  div#google-map-holder{
    padding: 24px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    height: 500px;
    width: 90%;
  }


}

/*UTILITIES*/
.removed_item {
  /*transition: 2s myChange;*/
  animation-name: example;
  animation-duration: .5s;


}
.added_item {
  display: block !important;
}



[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
