/* line 8, ../../app/sass/stylesheet.scss */
h3, label, li, input {
  font-family: "Helvetica Neue", Arial, Sans-Serif;
  /*display: none;*/
}

/* line 14, ../../app/sass/stylesheet.scss */
li.input-form.nav-item {
  margin: 0px;
  font-size: 24px;
  background-size: 10%;
  cursor: pointer;
}

/* line 23, ../../app/sass/stylesheet.scss */
ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 62, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 49, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul li:first-child {
  padding-left: 0;
}
/* line 50, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul li:last-child {
  padding-right: 0;
}
/* line 52, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul li.last {
  padding-right: 0;
}

/* line 26, ../../app/sass/stylesheet.scss */
#text-logo-top {
  color: white;
  font-size: 32px;
  margin: 0;
  margin-left: 8px;
  line-height: 48px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

@media (min-width: 1025px) {
  /* line 39, ../../app/sass/stylesheet.scss */
  body, p {
    margin: 0;
  }

  /* line 42, ../../app/sass/stylesheet.scss */
  body {
    height: 100%;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzZjVmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f5ff), color-stop(100%, #ffffff));
    background: -moz-linear-gradient(#f3f5ff, #ffffff);
    background: -webkit-linear-gradient(#f3f5ff, #ffffff);
    background: linear-gradient(#f3f5ff, #ffffff);
  }

  /* line 47, ../../app/sass/stylesheet.scss */
  div#top-header-bar {
    width: 100%;
    display: block;
    height: 48px;
    background-color: #7391ff;
    margin-bottom: 16px;
  }
  /* line 40, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  div#top-header-bar div, div#top-header-bar span, div#top-header-bar applet, div#top-header-bar object, div#top-header-bar iframe,
  div#top-header-bar h1, div#top-header-bar h2, div#top-header-bar h3, div#top-header-bar h4, div#top-header-bar h5, div#top-header-bar h6, div#top-header-bar p, div#top-header-bar blockquote, div#top-header-bar pre,
  div#top-header-bar a, div#top-header-bar abbr, div#top-header-bar acronym, div#top-header-bar address, div#top-header-bar big, div#top-header-bar cite, div#top-header-bar code,
  div#top-header-bar del, div#top-header-bar dfn, div#top-header-bar em, div#top-header-bar img, div#top-header-bar ins, div#top-header-bar kbd, div#top-header-bar q, div#top-header-bar s, div#top-header-bar samp,
  div#top-header-bar small, div#top-header-bar strike, div#top-header-bar strong, div#top-header-bar sub, div#top-header-bar sup, div#top-header-bar tt, div#top-header-bar var,
  div#top-header-bar b, div#top-header-bar u, div#top-header-bar i, div#top-header-bar center,
  div#top-header-bar dl, div#top-header-bar dt, div#top-header-bar dd, div#top-header-bar ol, div#top-header-bar ul, div#top-header-bar li,
  div#top-header-bar fieldset, div#top-header-bar form, div#top-header-bar label, div#top-header-bar legend,
  div#top-header-bar table, div#top-header-bar caption, div#top-header-bar tbody, div#top-header-bar tfoot, div#top-header-bar thead, div#top-header-bar tr, div#top-header-bar th, div#top-header-bar td,
  div#top-header-bar article, div#top-header-bar aside, div#top-header-bar canvas, div#top-header-bar details, div#top-header-bar embed,
  div#top-header-bar figure, div#top-header-bar figcaption, div#top-header-bar footer, div#top-header-bar header, div#top-header-bar hgroup,
  div#top-header-bar menu, div#top-header-bar nav, div#top-header-bar output, div#top-header-bar ruby, div#top-header-bar section, div#top-header-bar summary,
  div#top-header-bar time, div#top-header-bar mark, div#top-header-bar audio, div#top-header-bar video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }
  /* line 55, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  div#top-header-bar table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  /* line 57, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  div#top-header-bar caption, div#top-header-bar th, div#top-header-bar td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
  }
  /* line 59, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  div#top-header-bar q, div#top-header-bar blockquote {
    quotes: none;
  }
  /* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  div#top-header-bar q:before, div#top-header-bar q:after, div#top-header-bar blockquote:before, div#top-header-bar blockquote:after {
    content: "";
    content: none;
  }
  /* line 61, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  div#top-header-bar a img {
    border: none;
  }
  /* line 54, ../../app/sass/stylesheet.scss */
  div#top-header-bar img#nav-drawer-icon {
    line-height: 48px;
    height: 48px;
    display: inline;
  }
  /* line 59, ../../app/sass/stylesheet.scss */
  div#top-header-bar h1#text-logo-top {
    display: inline;
  }

  /* line 69, ../../app/sass/stylesheet.scss */
  div#top-form-panel-wrapper {
    display: block;
    text-align: center;
  }

  /* line 74, ../../app/sass/stylesheet.scss */
  div#top-form-panel {
    margin-left: auto;
    border-radius: 12px;
    overflow: hidden;
    margin-right: auto;
    display: inline-block;
  }

  /* line 83, ../../app/sass/stylesheet.scss */
  ul#form-nav {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }

  /* line 89, ../../app/sass/stylesheet.scss */
  li.input-form.nav-item {
    margin: 0px;
    padding: 10px;
    font-size: 24px;
    background-size: 10%;
    cursor: pointer;
  }

  /* line 98, ../../app/sass/stylesheet.scss */
  li.unviewed-nav-item {
    color: #929292;
    color: gray;
    cursor: default !important;
  }

  /* line 104, ../../app/sass/stylesheet.scss */
  li.selected-nav-item {
    background-color: white;
    /*background-color: #b7dbff;*/
  }

  /* line 112, ../../app/sass/stylesheet.scss */
  div#section-wrapper {
    padding: 24px;
    overflow: hidden;
  }

  /* line 116, ../../app/sass/stylesheet.scss */
  div#form-section-wrapper {
    overflow: hidden;
    margin-right: 48px;
    /*TODO use SASS to automate this*/
    background-color: gray;
  }

  /* line 122, ../../app/sass/stylesheet.scss */
  img.form-section-icons {
    height: 48px;
    width: 48px;
    /*display: inline-block;*/
    float: left;
    vertical-align: top;
    padding: 8px;
  }

  /* line 137, ../../app/sass/stylesheet.scss */
  .animate {
    -moz-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    -moz-transition: -moz-transform 0.5s ease-out 0s;
    -o-transition: -o-transform 0.5s ease-out 0s;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -webkit-transition-delay: 0s;
    transition: transform 0.5s ease-out 0s;
  }

  /* line 143, ../../app/sass/stylesheet.scss */
  img.form-section-icons.left-clear {
    float: left;
  }

  /* line 146, ../../app/sass/stylesheet.scss */
  img.form-section-icons.right-clear {
    overflow: hidden;
    float: right;
  }

  /* line 151, ../../app/sass/stylesheet.scss */
  div#form-data-holder {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 50%;
  }

  /*Date picker*/
  /* line 159, ../../app/sass/stylesheet.scss */
  #ui-datepicker-div {
    background-color: white;
    font-family: "Helvetica Neue", Arial, Sans-Serif;
    text-decoration: none;
  }

  /* line 164, ../../app/sass/stylesheet.scss */
  #ui-datepicker-div a {
    text-decoration: none;
  }

  /*form*/
  /* line 169, ../../app/sass/stylesheet.scss */
  .datepicker {
    margin-bottom: 16px;
    font-size: 16px;
  }

  /* line 174, ../../app/sass/stylesheet.scss */
  label.date-picker-label {
    font-size: 16px;
  }

  /* line 179, ../../app/sass/stylesheet.scss */
  div#google-map-holder {
    padding: 24px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    height: 600px;
    width: 600px;
  }
}
/*UTILITIES*/
/* line 192, ../../app/sass/stylesheet.scss */
.removed_item {
  /*transition: 2s myChange;*/
  animation-name: example;
  animation-duration: .5s;
}

/* line 199, ../../app/sass/stylesheet.scss */
.added_item {
  display: block !important;
}

/* line 205, ../../app/sass/stylesheet.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* line 212, ../../app/sass/stylesheet.scss */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 220, ../../app/sass/stylesheet.scss */
snap-content,
[snap\:content],
[snap-content],
[data-snap-content],
[x-snap-content],
.snap-content,
.x-snap-content,
snap-drawers,
[snap\:drawers],
[snap-drawers],
[data-snap-drawers],
[x-snap-drawers],
.snap-drawers,
.x-snap-drawers,
.snap-drawers,
.snap-content {
  position: absolute;
  height: auto;
  top: 0;
  bottom: 0;
  width: auto;
  left: 0;
  right: 0;
}

/* line 244, ../../app/sass/stylesheet.scss */
snap-drawer,
[snap\:drawer],
[snap-drawer],
[data-snap-drawer],
[x-snap-drawer],
.snap-drawer,
.x-snap-drawer,
.snap-drawer {
  position: absolute;
  height: auto;
  top: 0;
  bottom: 0;
  overflow: auto;
  -webkit-transition: top 0.2s linear;
  -moz-transition: top 0.2s linear;
  -o-transition: top 0.2s linear;
  transition: top 0.2s linear;
  -webkit-transition: bottom 0.2s linear;
  -moz-transition: bottom 0.2s linear;
  -o-transition: bottom 0.2s linear;
  transition: bottom 0.2s linear;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  width: 265px;
}

/* line 271, ../../app/sass/stylesheet.scss */
.snap-content {
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

/* line 283, ../../app/sass/stylesheet.scss */
.snap-drawer-left {
  left: 0;
  z-index: 1;
}

/* line 287, ../../app/sass/stylesheet.scss */
.snap-drawer-right {
  right: 0;
  z-index: 1;
}

/* line 291, ../../app/sass/stylesheet.scss */
.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}

/* line 295, ../../app/sass/stylesheet.scss */
.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}

/* line 302, ../../app/sass/stylesheet.scss */
html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 311, ../../app/sass/stylesheet.scss */
.snap-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 329, ../../app/sass/stylesheet.scss */
.snap-drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}

/* line 339, ../../app/sass/stylesheet.scss */
.snap-drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

/* line 356, ../../app/sass/stylesheet.scss */
.snap-drawer-left {
  left: 0;
  z-index: 1;
}

/* line 361, ../../app/sass/stylesheet.scss */
.snap-drawer-right {
  right: 0;
  z-index: 1;
}

/* line 366, ../../app/sass/stylesheet.scss */
.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}

/* line 371, ../../app/sass/stylesheet.scss */
.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}

/* line 377, ../../app/sass/stylesheet.scss */
snap-content {
  background-color: white;
  box-shadow: 0 0 10px #aaa;
}

/* line 382, ../../app/sass/stylesheet.scss */
snap-drawer {
  padding: 0 15px;
}
