

@import 'variables/_colors.scss';
@import 'variables/_dimens.scss';
@import 'variables/_functions.scss';
@import "compass/css3";
@import "compass/utilities";
@import "compass/reset/utilities";
@import "module_sass/_index.scss";
@import "mixins/_index.scss";

h3, label, li, input	{

    font-family: "Helvetica Neue", Arial, Sans-Serif;
  /*display: none;*/
}
//todo remove
li.input-form.nav-item {
    margin: 0px;
    // display: inline-block;

    // padding: 10px;
    font-size: 24px;
    background-size: 10%;
    cursor: pointer;
}
ul {
  @include horizontal-list(10px, left);
}
#text-logo-top {
  color: white;
  font-size: 32px;
  margin: 0;
  margin-left: 8px;
  line-height: 48px;

  font-family: "Helvetica Neue", Arial, sans-serif;
}


// @media (min-width:700px) {

body, p{
  margin: 0;
}
body {
  height: 100%;
  @include background(linear-gradient($top-gradient, $white));
  // background-color: $background;
}
div#top-header-bar {
  width: 100%;
  display: block;
  height: $top-bar-height;
  background-color: $top-bar;
  // margin-bottom: 16px;

  img#nav-drawer-icon {
    line-height: $top-bar-height;
    height: $top-bar-height;
    display: inline;
  }
  h1#text-logo-top{
    display: inline;
    line-height: $top-bar-height;
    vertical-align: top;

  }


}


div#top-form-panel-wrapper {
    display: block;
   text-align: center;
}

div#top-form-panel {
  margin-top: $base-margin * 2;
  margin-left: auto;
  border-radius: 12px;
  border: solid 1px gray;
  overflow:hidden;
  // background-color: $form-header;
  background-color:split($top-bar, s2);
  margin-right: auto;
  display: inline-block;
}

ul#form-nav  {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

li.input-form.nav-item {
    margin: 0px;
    // display: inline-block;
    padding: 10px;
    font-size: 24px;
    background-size: 10%;
    cursor: pointer;
    @media (max-width:700px) {
      display: none;
    }
}

li.unviewed-nav-item {

  background-color: $form-header;
  color: gray;
  cursor: default !important;

}
li.selected-nav-item {
  // background-color: white;
  // background-color: complement($top-bar);
  background-color:split($top-bar, s1);
  display: block !important;
  /*background-color: #b7dbff;*/
}

snap-content {
  height: 100%;
  overflow: hidden !important;
}

 div#main-content-form {
   $content-height-1: 400px;
   $content-height-2: 500px;
   $content-height-3: 600px;
    $content-height-0: 200px;

    @media (min-height: $content-height-0) {

       @include vertical-form-height ($content-height-0);
    }
   @media (min-height: $content-height-1) {

      @include vertical-form-height ($content-height-1);
   }
   @media (min-height: $content-height-2) {

      @include vertical-form-height ($content-height-2);
   }
   @media (min-height: $content-height-3) {

      @include vertical-form-height ($content-height-3);
   }


}

div#form-section-wrapper {
  overflow: hidden;

}

img.form-section-icons {
  height: 48px;
  width: 48px;
  /*display: inline-block;*/
  float: left;
  vertical-align: top;
  padding: 8px;

  &:hover {
    // @include rotate(-180deg);

  }


}
.animate {
  // @include rotate(-180deg);
  @include transform(translateX(-6000px), rotateX(45deg));
  @include single-transition(transform, 2s, ease-out, 0s);

}
img.form-section-icons.left-clear {
  float: left;
}
img.form-section-icons.right-clear {
  overflow: hidden;
  float: right;
}

div#form-data-holder {
  margin-right: auto;
  margin-left: auto;

  width: 100%;
}

/*Date picker*/
#ui-datepicker-div  {
  background-color: white;
  font-family: "Helvetica Neue", Arial, Sans-Serif;
  text-decoration: none;
}
#ui-datepicker-div a {
  text-decoration: none;
}

/*form*/
.datepicker {
  margin-bottom: 16px;
  font-size: 16px;
}

label.date-picker-label {

  font-size: 16px;
}

div#google-map-wrapper {
  div#google-map-holder{
    overflow: hidden;
    background-color: $map-holder-background;
    color: $white;
    width: 100%;

    height: 100%;

    max-height: $max-map;
    overflow: hidden;
    position: absolute;

  }
    height: 55%;
    position: relative;
    #google-map-cover {
      background-color: $map-holder-background;
      height: 100%;
      position: absolute;
      width: 100%;
    }
}

#google-map-wrapper  {
  position: relative;
}



/*UTILITIES*/
.removed_item {
  /*transition: 2s myChange;*/
  // animation-name: example;
  // animation-duration: .5s;
  display: none;

}
.added_item {
  display: block !important;
}



[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}



// SNAP CONTENT
